/dist/
/build/
/tree snippet.c
/curse2
/XTR.xtrTXT
/data1.txtTXT
/Huffman.c.tar.gz
/tree snippet.txt
/nbproject/Package-Debug.bash
/nbproject/Makefile-impl.mk
/nbproject/Package-Release.bash
/nbproject/configurations.xml
/nbproject/Makefile-variables.mk
/nbproject/Makefile-Release.mk
/nbproject/Makefile-Debug.mk
/Huffman.c
/TrieSquare.h
/XTR.xtr
/TokenSet.h
/Huffman.h
/nbproject/
/xtrac.cTXT
/NetBeansMakefile
/dextr.txt